html{
    background-color: grey;
    font-family: Garamond;
    text-align: center;
}

.title{
    font-size: 48px;
    line-height: 2;
}

.center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image{
    position: relative;
    width: 100%;
    border: 4px solid black;
}

.caption{
    font-size: 28px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}